{% extends 'base.html' %}

{% block title %} {{ product.title }} {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <img src="{{ product.image.url }}" height="500" width="500">
    </div>
    <div class="col-md-6">
        <h1 class="text-center text-primary my-5">{{ product.title }}</h1>
        <p>{{ product.description|linebreaks }}</p>
        <button class="btn btn-success">Savatga qo'shish</button>
    </div>
  </div>
</div>
{% endblock content %}